.game {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid green;
	font: Arial;
	font-size: 100px;
}

table {
  border-collapse: collapse;
}

td {
	width: 100px;
	height: 100px;
}

table, td {
  border: 1px solid black;
}